<!DOCTYPE html>
<html lang="en">

<!-- Head tag -->
<%- partial('_partial/head') %>

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

<%- partial('_partial/nav') %>

<!-- Main Content -->
<%- body %>

<!-- Footer -->
<%- partial('_partial/footer') %>


<!-- Image to hack wechat -->
<img src="<%= config['url'] %> <%= config['root'] %>img/icon_wechat.png" width="0" height="0"/>
<!-- Migrate from head to bottom, no longer block render and still work -->

<!--京东广告-->
<script type="text/javascript">var jd_union_unid = "1000357173", jd_ad_ids = "505:6",
        jd_union_pid = "CK6+/7GVLBC1+oDdAxoAIKLx1KsEKgA=";
    var jd_width = 960;
    var jd_height = 90;
    var jd_union_euid = "";
    var p = "AhIAURlbFAISBWVEH0hfIlgRRgYlXVZaCCsfSlpMWGVEH0hfIkYAeVNzRlJQNnkhSHZBe1BkJmgcVXdZF2sVAhUFUhpdFgsUN1UaWhQAFgFVHVklMk1DCEZrXmwTNwpfBkgyEgNVHV8TAxcOVRNcHTITN2Ur";</script>
<script type="text/javascript" charset="utf-8" src="//u-x.jd.com/static/js/auto.js"></script>
<script>
    // 隐藏JD广告
    jdFrame = document.querySelector('iframe[src^="//u-x.jd.com/"]');
    if (jdFrame) {
        jdFrame.parentElement.style.display = 'none';
    }
</script>

<!--AdSence Blog-->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- blog -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9697944574373240"
     data-ad-slot="3264686777"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

</body>

</html>
